In [ ]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('/content/drive/MyDrive/CSV files/LR/data_LR_train.csv')
#/content/drive/MyDrive/CSV files/LR/data_LR_test.csv

In [3]:
df1.head()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
0,1,783,36,16378.00,0,3.69,3.69,1.1200,1,1,0,0,0
1,2,711,48,28322.00,0,5.49,4.89,1.8200,1,1,0,0,0
2,1,773,36,9500.00,0,3.99,3.99,1.1100,3,1,0,0,0
3,1,743,72,24078.00,5,6.09,4.69,1.1100,1,0,1,0,0
4,1,762,72,14999.99,0,5.75,5.69,1.1463,3,0,0,1,0

In [4]:
df1.shape

(60000, 13)

In [5]:
df1.describe()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
count,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.00000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000
mean,1.927700,726.736333,56.827100,25945.833244,1.735150,4.810375,5.624450,1.33084,2.032067,0.570917,0.227500,0.201583,0.221717
std,1.050551,44.812707,11.195901,11129.274156,3.464906,0.585542,1.544556,0.27949,0.910505,0.494949,0.419222,0.401186,0.415405
min,1.000000,601.000000,36.000000,4526.620000,0.000000,2.990000,2.450000,1.02000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,692.000000,48.000000,17653.400000,0.000000,4.390000,4.490000,1.11000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,726.000000,60.000000,25000.000000,0.000000,4.790000,5.090000,1.26380,2.000000,1.000000,0.000000,0.000000,0.000000
75%,3.000000,762.000000,60.000000,33000.000000,0.000000,5.190000,6.390000,1.41940,3.000000,1.000000,0.000000,0.000000,0.000000
max,4.000000,852.000000,72.000000,100000.000000,24.000000,6.450000,12.990000,2.12700,3.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
df1.isnull().sum()

Tier                0
FICO                0
Term                0
Amount              0
Previous_Rate       0
Competition_rate    0
Rate                0
Cost_Funds          0
Partner Bin         0
Car_Type_N          0
Car_Type_R          0
Car_Type_U          0
Accept              0
dtype: int64

In [7]:
df1.dtypes

Tier                  int64
FICO                  int64
Term                  int64
Amount              float64
Previous_Rate         int64
Competition_rate    float64
Rate                float64
Cost_Funds          float64
Partner Bin           int64
Car_Type_N            int64
Car_Type_R            int64
Car_Type_U            int64
Accept                int64
dtype: object

In [8]:
df1['Accept'].value_counts(normalize=True)

0    0.778283
1    0.221717
Name: Accept, dtype: float64

In [9]:
df1.columns

Index(['Tier', 'FICO', 'Term', 'Amount', 'Previous_Rate', 'Competition_rate',
       'Rate', 'Cost_Funds', 'Partner Bin', 'Car_Type_N', 'Car_Type_R',
       'Car_Type_U', 'Accept'],
      dtype='object')

In [10]:
features = ['Tier', 'FICO', 'Term', 'Amount', 'Previous_Rate', 'Competition_rate',
       'Rate', 'Cost_Funds', 'Partner Bin', 'Car_Type_N', 'Car_Type_R',
       'Car_Type_U']

In [11]:
target = ['Accept']

In [12]:
X_train = df1[features]
y_train = df1[target]
print(X_train.shape,y_train.shape)

(60000, 12) (60000, 1)

In [13]:
df2 = pd.read_csv('/content/drive/MyDrive/CSV files/LR/data_LR_test.csv')

In [14]:
df2.head()

,Unnamed: 0,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
0,26422,2,719,48,24000.00,0,4.29,4.35,1.2738,3,1,0,0,0
1,26084,2,703,60,30000.00,0,4.39,4.35,1.3200,1,1,0,0,0
2,28789,1,730,60,25000.00,0,4.25,4.49,1.1200,3,1,0,0,0
3,17246,4,665,36,15000.00,0,4.45,10.09,1.1000,1,0,0,1,0
4,23229,4,645,60,14999.99,0,5.15,10.95,1.6500,3,0,0,1,0

In [15]:
df2.shape

(25000, 14)

In [16]:
df2['Accept'].value_counts(normalize=True)

0    0.77856
1    0.22144
Name: Accept, dtype: float64

In [17]:
print(df1.isnull().sum())

Tier                0
FICO                0
Term                0
Amount              0
Previous_Rate       0
Competition_rate    0
Rate                0
Cost_Funds          0
Partner Bin         0
Car_Type_N          0
Car_Type_R          0
Car_Type_U          0
Accept              0
dtype: int64

In [18]:
X_test = df2[features]
y_test = df2[target]

In [19]:
print(X_test.shape,y_test.shape)

(25000, 12) (25000, 1)

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
logreg = LogisticRegression()

In [22]:
logreg.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [23]:
y_pred = logreg.predict(X_test)

In [24]:
print(y_pred.shape)

(25000,)

In [25]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [26]:
print(confusion_matrix(y_test,y_pred))

[[18360  1104]
 [ 3881  1655]]

In [27]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.83      0.94      0.88     19464
           1       0.60      0.30      0.40      5536

    accuracy                           0.80     25000
   macro avg       0.71      0.62      0.64     25000
weighted avg       0.78      0.80      0.77     25000

In [28]:
y_pred_prob = logreg.predict_proba(X_test)[:,1]

In [29]:
y_pred_prob

array([0.12252211, 0.13708348, 0.20825639, ..., 0.19589184, 0.82170167,
       0.47880764])

In [30]:
df3 = pd.DataFrame()

In [31]:
df3['test'] = y_test

In [32]:
df3['pred'] = y_pred

In [33]:
df3['pred_proba'] = y_pred_prob

In [34]:
df3.head(20)

    test  pred  pred_proba
0      0     0    0.122522
1      0     0    0.137083
2      0     0    0.208256
3      0     0    0.054945
4      0     0    0.116276
5      1     0    0.057915
6      0     0    0.335246
7      1     0    0.245699
8      0     0    0.176020
9      0     0    0.037669
10     0     0    0.120257
11     0     0    0.013281
12     0     0    0.099120
13     1     1    0.657827
14     0     0    0.034904
15     0     0    0.104628
16     0     0    0.430184
17     1     0    0.338548
18     1     1    0.550529
19     0     0    0.098772